%h2
  %a{:href=>"index.html", :title=>""} DZone needs an API

%p{:class=>"post-info"}
  Posted by 
  %a{:href=>"index.html"} phoet
  | Filed under 
  %a{:href=>"index.html"} dzone, api
  
%p
  %img{:src=>"/images/dzone.gif", :class=>"float-left"}
  %strong DZone
  is a cool resource for developers. Since they currently 
  %a{:href=>"http://meta.dzone.com/questions/66/dzone-api"} don't offer an API
  i started wrapping the rss-feeds and website calls within Ruby to provide a RESTful API via Rails. 
  I do this mainly for my current
  %a{:href=>"http://github.com/phoet/dzone"} DZone iPhone project.

%p
  As a first step, you can now get the latest DZone items as 
  %a{:href=>'items.xml'} XML
  or 
  %a{:href=>'items.json'} JSON.
  The stuff is running on 
  %a{:href=>'http://heroku.com'} Heroku
  and the items will be updated once an hour.

%p
  Stuff that is missing, but will come soon:
  %ul
    %li Documentation
    %li Examples
    %li API for Voting

%p{:class=>"post-footer"}
  %span{:class=>"date"} Aug 01, 2010