!!! XML
!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html; charset=UTF-8"}
    %meta{'http-equiv'=>"content-language", :content=>"us"}
    %meta{'http-equiv'=>"language", :content=>"us"}
    %meta{:name=>"language", :content=>"english, us"}
    %meta{:name=>"robots", :content=>"index,follow"}
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.png", :type=>"image/png"}
    %link{:rel=>"icon", :href=>"/favicon.png", :type=>"image/png"}
    
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'style'

    %title="moin moin"

  %body
    #wrap
      #header
        %h1#logo-text
          %a{:href=>"index.html", :title=>""} DZone API
          
        %p#slogan hacking our way to a dedicated API...

      #nav
        %ul
          %li.current
            %a{:href=>"index.html"} Home
          %li
            %a{:href=>"items.xml"} XML
          %li
            %a{:href=>"items.json"} JSON

      #content-wrap
        #main
          =yield

        #sidebar
          %h3 Explore
          %ul.sidemenu
            %li
              %a{:href=>"index.html"} Home
              
      #footer-wrap
        #footer-content
          #footer-columns
            %div{:class=>"col3"}
              %h3 Main
              %ul
                %li
                  %a{:href=>"index.html"} Home
                
            %div{:class=>"col3-center"}
              %h3 Items
              %ul
                %li
                  %a{:href=>"items.xml"} XML
                %li
                  %a{:href=>"items.json"} JSON

            %div{:class=>"col3"}
              %h3 Resources
              %ul
                %li
                  %a{:href=>"http://github.com/phoet/dzone_api"} DZone API on GitHub
                %li
                  %a{:href=>"http://github.com/phoet/dzone"} The DZone iPhone app

          #footer-bottom
            %p
              &copy; 2010 
              %strong Peter Schröder
              &nbsp;&nbsp;&nbsp;&nbsp;
              %a{:href=>"http://www.bluewebtemplates.com/", :title=>"Website Templates"} website templates
              by 
              %a{:href=>"http://www.styleshout.com/"} styleshout</a>
              | Valid 
              %a{:href=>"http://validator.w3.org/check?uri=referer"} XHTML
              |
              %a{:href=>"http://jigsaw.w3.org/css-validator/check/referer"}CSS
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            %a{:href=>"index.html"} Home
            &nbsp;|&nbsp;
            %a{:href=>"http://github.com/phoet/dzone_api"} GitHub
